# IZV part3: √ökol 2: Test hypot√©zy
# Autor: Luk√°≈° Kapr√°l (xkapra00)
Ovƒõ≈ôovat s 95% jistotou n√°sleduj√≠c√≠ dvƒõ hypot√©zy
## Hypot√©za 1:
**Na silnic√≠ch prvn√≠ t≈ô√≠dy se p≈ôi nehod√°ch um√≠ralo se stejnou pravdƒõpodobnost√≠ jako na
silnic√≠ch t≈ôet√≠ t≈ô√≠dy**

Import knihoven

In [1]:
import pandas as pd
import scipy as sp

Naƒçteme dataframe s nehodami

In [ ]:
df = pd.read_pickle('accidents.pkl.gz')
df

Vyfiltrujeme pouze nehody na silnic√≠ch 1. a 3. t≈ô√≠dy

In [ ]:
df = df[df["p36"].isin([1, 3])]
df

Vytvo≈ô√≠me nov√Ω sloupec, kam ulo≈æ√≠me True/False podle toho, zda p≈ôi nehodƒõ nƒõkdo um≈ôel

In [ ]:
df["died"] = df["p13a"] > 0
df

Tvorba crosstab

In [5]:
ct = pd.crosstab(df["p36"], df["died"])
ct

died  False  True
p36
1     78618    911
3     73352    448

Spoƒç√≠t√°me ùúí2

In [6]:
sp.stats.chi2_contingency(ct)[1]

3.5395243450138555e-29

V√Ωsledn√° hodnota 3.54*10<sup>-29</sup> je men≈°√≠, ne≈æ 0.05. Hypot√©za tedy neplat√≠

## Hypot√©za 1:
**P≈ôi nehod√°ch vozidel znaƒçky ≈†koda je ≈°koda na vozidle ni≈æ≈°√≠ ne≈æ p≈ôi nehod√°ch vozidel Audi**

Vyfiltrujeme pouze vozidla znaƒçky ≈†koda a Audi (p45a 2=AUDI, 39=≈†KODA)

In [7]:
df = df[df["p45a"].isin([2, 39])]
df

,p1,p36,p37,p2a,weekday(p2a),p2b,p6,p7,p8,p9,...,n,o,p,q,r,s,t,p5a,region,died
10530,003100160575,1,102,2016-06-19,0,1905,1,2,0,2,...,312370,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,554782,481548,GN_V0.1UIR-ADR_410,1,PHA,False
50445,002100184560,1,-1,2018-03-20,2,1100,1,2,0,2,...,2775387,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,554782,467359,GN_V0.1UIR-ADR_410,1,PHA,False
117991,002100162546,1,0,2016-02-16,2,1110,1,2,0,2,...,1871811,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,554782,709450,GN_V0.1UIR-ADR_410,2,STC,False
117994,002100162631,1,0,2016-02-17,3,1010,1,4,0,2,...,,,,,-1,-1,,2,STC,False
119398,010106160002,3,1256,2016-01-04,1,2005,3,0,6,2,...,1013486,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,529931,-1,GN_V0.1UIR-ADR_410,2,STC,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572838,190906210366,3,2099,2021-07-15,4,1932,3,0,9,2,...,798308,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,560537,552526,GN_V0.1UIR-ADR_410,1,KVK,False
572845,190906210373,3,2099,2021-07-19,1,913,1,2,0,2,...,3089393,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,560642,-1,GN_V0.1UIR-ADR_410,2,KVK,False
572868,190906210396,3,21036,2021-08-02,1,1605,3,0,4,2,...,1425538,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,560588,-1,GN_V0.1UIR-ADR_410,2,KVK,False
572888,190906210416,3,2099,2021-08-02,1,1520,2,0,0,2,...,199919,,Souhlasn√Ωsesmƒõrem√∫seku,Pomal√Ω,560286,553654,GN_V0.1UIR-ADR_410,1,KVK,False
572931,190906210459,3,2099,2021-08-30,1,1505,1,3,0,2,...,,,,,-1,-1,,1,KVK,False

Tvorba crosstab, p53 = ≈°koda na vozidle ve stokorun√°ch

In [8]:
#ct = pd.crosstab(df["p53"], df["p45a"])
#ct
df_meds = df.groupby("p45a").agg({"p53": "median"})
df_meds

        p53
p45a
2     400.0
39    300.0

Vytvo≈ô√≠me df2 s multiindexem pro rychlej≈°√≠ indexov√°n√≠

In [24]:
df2 = df.set_index(["p45a"])
df2 = df2.loc[:, df2.columns.intersection(['p45a', 'p53'])]
df2

       p53
p45a
39     500
39       0
39     700
39     500
39    2000
...    ...
39      30
39      10
39     150
39       0
2       50

[41175 rows x 1 columns]

Spoƒç√≠t√°me porovn√°n√≠ dvou konfigurac√≠. Porovn√°me medi√°ny a spoƒç√≠t√°me v√Ωsledek MW U-testu

In [25]:
a = df2.loc[39, "p53"]
b = df2.loc[2, "p53"]

print(a.median(), b.median())
sp.stats.mannwhitneyu(a,b)

300.0 400.0

MannwhitneyuResult(statistic=54545609.5, pvalue=3.0284875285142655e-55)

V√Ωsledek n√°m ≈ô√≠k√°, ≈æe ≈°kody na vozidlech znaƒçky ≈†koda a Audi jsou podobn√©. P≈ôesto≈æe je medi√°n hodnot lep≈°√≠ pro znaƒçku ≈†koda, __nem≈Ø≈æeme ≈ô√≠ct, ≈æe by cena nehody na t√©to znaƒçce aut byla ni≈æ≈°√≠__.